<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bauman Law</title>
    <link rel="stylesheet" href="./../stylesheets/style.css"></link>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css.map"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css.map"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="./../stylesheets/socicon.css" rel="stylesheet" type="text/css" media="all">
    <link href="./../stylesheets/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./../stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="./../stylesheets/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="./../stylesheets/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="./../stylesheets/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="./../stylesheets/custom.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
    <div class="nav-container">
        <nav>
            <div class="nav-bar" data-fixed-at="400">
                <div class="nav-module logo-module left">
                    <a href="index.html"><div class="vnu"><img alt="logo" class="logo logo-dark" src="./../images/logo-dark.png"></div> <img alt="logo" class="logo logo-light" src="images/logo-light.png"></a>
                </div>
                <div class="nav-module menu-module left">
                    <ul class="menu">
                        <li>
                            <a href="/">About </a>
                        </li>
                        <li class="active">
                            <a href="/users/location">Location</a>
                        </li>
                        <li>
                            <a href="/users/contact">Contact<br> </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-mobile-toggle visible-sm visible-xs">
                <i class="icon-Align-JustifyAll icon icon--sm"></i>
            </div>
        </nav>
    </div>