<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bauman Law</title>
    <link rel="stylesheet" href="./../../stylesheets/style.css"></link>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.css.map"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css.map"></link>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="./../../stylesheets/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./../../stylesheets/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="./../../stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="./../../stylesheets/interface-icons.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="./../../stylesheets/owl.carousel.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="./../../stylesheets/theme.css" rel="stylesheet" type="text/css" media="all"/>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body class="scroll-assist">
    <!-- <div class="nav-container"> -->
       
    <div class="loader"></div>
    <nav class="transition--fade">
        <div class="utility-bar bg--secondary">
            <div class="nav-module logo-module left">
                <a href="/"><img alt="logo" class="logo" src="./../../images/Logo-Nav.png"></a>
            </div>
            <div class="nav-module right hidden-xs">
                <ul class="social-list">
                    <li>
                        <span class="type--fine-print">(818) 285-0222</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-bar">
        <!-- <div class="nav-bar" data-fixed-at="200"> -->
            <div class="nav-module menu-module left">
                <ul class="menu">
                    <li>
                        <a href="/"> Home </a>
                    </li>
                    <li>
                        <a href="#">
                            About
                        </a>
                        <ul class="multi-column">
                            <li>
                                <ul>
                                    <li>
                                        <a href="/attorneys">
                                            Attorneys
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/about">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/contingency-fees">
                                            Contingency Fees
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/client-testimonials">
                                            Client Testimonials
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/small-claims">
                            Small Claims
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Practice Areas
                        </a>
                        <ul class="multi-column">
                            <li>
                                <ul>
                                    <li>
                                        <a href="/bicycle-accidents">Bicycle Accidents</a>
                                    </li>
                                    <li>
                                        <a href="/brain-injury">
                                            Brain Injury
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/bus-accidents">
                                            Bus Accidents
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/car-accidents">
                                            Car Accidents
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/motorcycle-accidents">
                                            Motorcycle Accidents
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/pedestrian-accidents">
                                            Pedestrian Accidents
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/premises-liability">
                                            Premises Liability
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/product-defects">
                                            Product Defects
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/product-liability">
                                            Product Liability
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/truck-accidents">
                                            Truck Accidents
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/wrongful-death">
                                            Wrongful Death
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/success-records">
                            Success Records
                        </a>
                    </li>
                    <li>
                        <a href="/referrals">
                            Referrals
                        </a>
                    </li>
                    <li>
                        <a href="/contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end nav bar-->
        <div class="nav-mobile-toggle visible-sm visible-xs">
            <i class="icon-Align-Right icon icon--sm"></i>
        </div>
    </nav>
<!-- </div> -->