<%- include('./header') %>

<div class="main-container">
    <section class="height-100 imagebg cover cover-1 parallax" data-overlay="3">
        <div class="background-image-holder">
            <img alt="image" src="images/hero1.jpg">
        </div>
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-6 text-right text-center-xs">
                    <img class="logo" alt="Pillar" src="images/logo-large-light.png">
                </div>
                <div class="col-sm-6 text-center-xs">
                    <p class="lead">
                        A beautiful collection of
                        <br> hand-crafted web components
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="modal-instance modal-video-1">
                        <a class="btn btn--primary modal-trigger" href="#">
                            <span class="btn__text">
                                ► &nbsp; Watch The Overview
                            </span>
                        </a>
                        <div class="modal-container">
                            <div class="modal-content bg-dark" data-width="100%" data-height="80%">
                                <iframe allowfullscreen="allowfullscreen" src="https://player.vimeo.com/video/165428278?autoplay=1"></iframe>
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-12 pos-absolute pos-bottom">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <ul class="social-list">
                        <li>
                            <a href="#">
                                <i class="socicon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-Google-Plus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </section>
        <section class="height-100 cover cover-2">
            <div class="col-md-6 col-sm-5">
                <div class="background-image-holder">
                    <img alt="image" src="images/hero6.jpg">
                </div>
            </div>
            <div class="col-md-6 col-sm-7 bg--white text-center">
                <div class="pos-vertical-center">
                    <img class="logo" alt="Pillar" src="images/logo-large-dark.png">
                    <p class="lead">
                        A beautiful law company&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                    <a class="btn btn--primary btn--lg" href="#purchase-template">
                        <span class="btn__text">
                            Purchase Pillar
                        </span>
                    </a>
                </div>
                <div class="col-sm-12 text-center pos-absolute pos-bottom">
                    <ul class="social-list">
                        <li>
                            <a href="#"><i class="socicon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="socicon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="socicon-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-Google-Plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="space--0">
            <div class="slider" data-items="4" data-paging="false" data-arrows="false">
                <ul class="slides">
                    <li>
                        <a href="#">
                            <div class="hover-element hover-element-1" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="images/work6.jpg">
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h5>Freehance</h5>
                                        <span>
                                            <em>iOS Application</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="hover-element hover-element-1" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="images/work2.jpg">
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h5>Michael Andrews</h5>
                                        <span>
                                            <em>Branding &amp; Identity</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="hover-element hover-element-1" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="images/work7.jpg">
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h5>Pillar Stationary</h5>
                                        <span>
                                            <em>Branding Collateral</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="hover-element hover-element-1" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="images/work5.jpg">
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h5>Authentic Apparel</h5>
                                        <span>
                                            <em>Packaging Design</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="hover-element hover-element-1" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="images/work10.jpg">
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h5>Wave Poster</h5>
                                        <span>
                                            <em>Logo Design</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="hover-element hover-element-1" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="images/work12.jpg">
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h5>Tesla Controller</h5>
                                        <span>
                                            <em>Apple Watch Application</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="hover-element hover-element-1" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="images/work17.jpg">
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h5>Organic Spice Company</h5>
                                        <span>
                                            <em>Product Packaging</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="hover-element hover-element-1" data-title-position="top,right">
                                <div class="hover-element__initial">
                                    <img alt="Pic" src="images/work15.jpg">
                                </div>
                                <div class="hover-element__reveal" data-overlay="9">
                                    <div class="boxed">
                                        <h5>Thomas Muller</h5>
                                        <span>
                                            <em>Branding &amp; Identity</em>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="stats-1 bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h4>Get to know us better…</h4>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature feature-1 text-center boxed boxed--lg">
                            <i class="icon icon--lg icon-Tree-2 color--primary"></i>
                            <h3>2010</h3>
                            <span>
                                <em>Year of foundation</em>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1 text-center boxed boxed--lg">
                            <i class="icon icon--lg icon-Bodybuilding color--primary"></i>
                            <h3>16</h3>
                            <span>
                                <em>Passionate team members</em>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1 text-center boxed boxed--lg">
                            <i class="icon icon--lg icon-Thumbs-UpSmiley color--primary"></i>
                            <h3>Over 500</h3>
                            <span>
                                <em>Satisfied clients</em>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1 text-center boxed boxed--lg">
                            <i class="icon icon--lg icon-Alarm-Clock color--primary"></i>
                            <h3>0</h3>
                            <span>
                                <em>Missed meetings</em>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1 text-center boxed boxed--lg">
                            <i class="icon icon--lg icon-Marker color--primary"></i>
                            <h3>Countless</h3>
                            <span>
                                <em>Highlighters exhausted</em>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="feature feature-1 text-center boxed boxed--lg">
                            <i class="icon color--primary icon-Hour icon--lg"></i>
                            <h3>1</h3>
                            <span>
                                <em>Resident DJ</em>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-1">
                            <div class="card__icon">
                                <i class="icon icon--lg icon-Finger-Print color--primary"></i>
                            </div>
                            <div class="card__body boxed bg--white">
                                <div class="card__title">
                                    <h5>Collect Leads</h5>
                                </div>
                                <p>
                                    Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-1">
                            <div class="card__icon">
                                <i class="icon icon--lg icon-Fluorescent color--primary"></i>
                            </div>
                            <div class="card__body boxed bg--white">
                                <div class="card__title">
                                    <h5>Incite Customer Action</h5>
                                </div>
                                <p>
                                    Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card card-1">
                            <div class="card__icon">
                                <i class="icon icon--lg icon-Bar-Chart color--primary"></i>
                            </div>
                            <div class="card__body boxed bg--white">
                                <div class="card__title">
                                    <h5>Increase Conversions</h5>
                                </div>
                                <p>
                                    Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
    </div>

<%- include('./footer') %>