<%- include('./header') %>
  <br><br><br><br>
  <div class="contain">
    <div id="map"></div>
  </div>
  <section class="features features-10">
      <div class="feature bg--white col-md-4 text-center">
          <i class="icon icon--lg icon-Map-Marker2"></i>
          <h4>Business Hours</h4>
          <p>&nbsp;M-F: 8:00AM–5:00PM<br>&nbsp;Sa-Su: By Appointment</p>
      </div>
      <div class="feature bg--secondary col-md-4 text-center">
          <i class="icon icon--lg icon-Phone-2"></i>
          <h4>Give us a call</h4>
          <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Office: (818) 285-0222 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>Fax: (818)&nbsp;285-0224</p>
      </div>
      <div class="feature bg--dark col-md-4 text-center">
          <i class="icon icon--lg icon-Computer"></i>
          <h4>Connect online</h4>
          <p>
              Email:
              <a href="#">info@thela-lawyer.com</a><br></p>
      </div>
  </section>

    <style>
       #map {
            height: 400px;
            width: 100%;
       }
    </style>
    <script>
      function initMap() {
        var uluru = {lat:34.157551, lng: -118.487565};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: uluru
        });

        var contentString = 
        '<div id="content">'+
            '<p>16255 Ventura Blvd Suite 450 Encino, CA 91436</p>'+
        '</div>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: 'Bauman Law Group'
        });
        
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=<%=key%>&libraries=places&callback=initMap" async defer></script>

<%- include('./footer') %>