<div class='container'>
    <div class="border">
        <h2>Hello, Bauman Laaw!</h2>
        <h3><%=name%> sent you a message regarding:</h3>
        <h4>
            <%= message %>
        </h4>
        <h4>Contact: 
            <br>
            <%= email %> 
            <br>
            <%= telephone %>
        </h4>
    </div>
</div>