body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.nav.section {
  padding-top: 10px !important;
}

.contain {
  margin: 80px !important;
}

.footer {
  padding: 20px !important;
}

i {
  font-size: 25px !important;
}

ul, li {
  list-style-type: none;
}

textarea.validate-required {
  padding: 40px !important;
}