<%- include('./../header') %>

    <div class="main-container">  
        <section class="bg--dark section--even">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h3>Verdicts & Settlements</h3>
                        <p class="lead">
                            Blurb!
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

<%- include('./../footer') %>