<%- include('./../header') %>

    <div class="main-container">
        <section class="height-100 cover cover-2">
            <div class="col-md-6 col-sm-5">
                <div class="background-image-holder">
                    <img alt="image" src="images/hero6.jpg">
                </div>
            </div>
            <div class="col-md-6 col-sm-7 bg--white text-center">
                <div class="pos-vertical-center">
                    <h2>
                        Bicycle Accidents
                    </h2>
                    <p class="lead">
                        Blurb &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </p>
                    <div class="modal-instance">
                            <a class="btn modal-trigger" href="#">
                                <span class="btn__text">
                                    Request a Consultation
                                </span>
                            </a>
                            <div class="modal-container" data-modal-id="contact-form">
                                <div class="modal-content" data-width="80%" data-height="80%">
                                    <div class="pos-vertical-center clearfix">
                                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">            
                                            <div class="col-sm-12">
                                                <form action="/confirmation" method="POST">
                                                    <h4 class="text-center" id="modal">Reach us right here…</h4>
                                                    <div class="input-with-icon col-sm-12">
                                                        <i class="icon-MaleFemale"></i>
                                                        <input class="validate-required" type="text" name="name" placeholder="Your Name">
                                                    </div>
                                                    <div class="input-with-icon col-sm-6">
                                                        <i class="icon-Address-Book"></i>
                                                        <input class="validate-required validate-email" type="email" name="email" placeholder="Email Address">
                                                    </div>
                                                    <div class="input-with-icon col-sm-6">
                                                        <i class="icon-Phone-2"></i>
                                                        <input type="tel" name="telephone" placeholder="Phone Number">
                                                    </div>
                                                    <div class="input-with-icon col-sm-12">
                                                        <i class="icon-Mail"></i>
                                                        <input type="text" name="message" placeholder="Message" rows="8">
                                                        <!-- <input class="validate-required" name="message" placeholder="Your Message" rows="8"></textarea> -->
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button type="submit" class="btn btn--primary vpe">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </form>       
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h5>Overview</h5>
                        <p>
                            According to the California law, bicyclists on the road have the same responsibilities 
                            and rights as do motorized vehicles. When a bicyclist collides with a car or 
                            other motorized vehicle, the cyclist can suffer severe injuries and even death 
                            due to negligent and distracted drivers. 
                            <br>
                            If you or a loved one is currently or has suffered from severe injuries or even has 
                            been killed during a cycling accident, you must hire an attorney that is experienced and 
                            knows how to handle such a specialized case.
                        </p>
                        <h5>Why Us</h5>
                        <p>
                            Bauman Law Group has successfully handled _____ bicyclist accidents and knows how to 
                            both investigate and prove these claims. Many of these cases involve:
                        </p>
                        <ul class="bullets">
                            <li>
                                Drivers drifting into other lanes.
                            </li>
                            <li>
                                Drivers turning and not seeing the bicyclist.
                            </li>
                            <li>
                                Drivers on their phones and/or not paying attention.
                            </li>
                        </ul>
                        <h5>Next Steps</h5>
                        <p>
                            The Bauman Law Firm does _____ in order to seek out the truth.
                            We secures the right experts to _____
                            <br>
                            Our attorneys fight fiercly for bicylists who have been injured or
                            even killed by these events. Our goal is incredibly simple: to help 
                            our clients receive the most favorable of results. 
                            You only pay when _____ 
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

<%- include('./../footer') %>