<%- include('./../header') %>

    <div class="main-container">
        <section class="height-100 cover cover-2">
            <div class="col-md-6 col-sm-5">
                <div class="background-image-holder">
                    <img alt="image" src="images/hero6.jpg">
                </div>
            </div>
            <div class="col-md-6 col-sm-7 bg--white text-center">
                <div class="pos-vertical-center">
                    <h2>
                        Brain Injury
                    </h2>
                    <p class="lead">
                        Blurb &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </p>
                    <div class="modal-instance">
                            <a class="btn modal-trigger" href="#">
                                <span class="btn__text">
                                    Request a Consultation
                                </span>
                            </a>
                            <div class="modal-container" data-modal-id="contact-form">
                                <div class="modal-content" data-width="80%" data-height="80%">
                                    <div class="pos-vertical-center clearfix">
                                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">            
                                            <div class="col-sm-12">
                                                <form action="/confirmation" method="POST">
                                                    <h4 class="text-center" id="modal">Reach us right here…</h4>
                                                    <div class="input-with-icon col-sm-12">
                                                        <i class="icon-MaleFemale"></i>
                                                        <input class="validate-required" type="text" name="name" placeholder="Your Name">
                                                    </div>
                                                    <div class="input-with-icon col-sm-6">
                                                        <i class="icon-Address-Book"></i>
                                                        <input class="validate-required validate-email" type="email" name="email" placeholder="Email Address">
                                                    </div>
                                                    <div class="input-with-icon col-sm-6">
                                                        <i class="icon-Phone-2"></i>
                                                        <input type="tel" name="telephone" placeholder="Phone Number">
                                                    </div>
                                                    <div class="input-with-icon col-sm-12">
                                                        <i class="icon-Mail"></i>
                                                        <input type="text" name="message" placeholder="Message" rows="8">
                                                        <!-- <input class="validate-required" name="message" placeholder="Your Message" rows="8"></textarea> -->
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button type="submit" class="btn btn--primary vpe">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </form>        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h5>Overview</h5>
                        <p>
                            Traumatic Brain Injury (TBI), occurs when an individual's brain is injured by a 
                            blow to the head or body. The degree of the damage to the brain depends on the 
                            nature of the blow, as well as the force of impact.
                        </p>
                        <h5>Why Us</h5>
                        <p>
                            With the incredibly high cost it takes to treat TBIs, 
                            Bauman Law Group will put in the time it takes to carefully evalaute
                            the cost of treatment and care for your loved one. 
                            
                            (Spinal injuries too??)
                            Approximately 250,000 Americans have suffered from a spinal cord surgery,

                            <a href="http://www.sci-info-pages.com/facts.html" target="_blank">
                                and only 52% are covered by private health insurance at the time of injury.
                            </a>
                            
                            Symptoms of severe TBI:
                        </p>
                        <ul class="bullets">
                            <li>
                                Lack of concentration
                            </li>
                            <li>
                                Confusion
                            </li>
                            <li>
                                Forgetfulness
                            </li>
                            <li>
                                Executive function
                            </li>
                            <li>
                                Mental agility
                            </li>
                            <li>
                                Speech and language problems
                            </li>
                            <li>
                                Sensory impairment
                            </li>
                            <li>
                                Slurred speech
                            </li>
                            <li>
                                Epilepsy
                            </li>
                            <li>
                                Sleep Disorders
                            </li>
                            <li>
                                and more.
                            </li>
                        </ul>
                        <h5>Next Steps</h5>
                        <p>
                            You may be entitled to financial compensation in order to cover medical builts,
                            the loss of wages, and other damages that may have occurred. Our firm specializes in ____

                            Whether the injury was caused by a motor accident, due to a sports injury,
                            or a workplace accident, we will be thorough in our effort to preserve evidence
                            so we can build an airtight legal claim.

                            We are experienced _____, fight for our clients from beginning to end.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

<%- include('./../footer') %>