<%- include('./../header') %>

    <div class="main-container">
        <section class="height-100 cover cover-2">
            <div class="col-md-6 col-sm-5">
                <div class="background-image-holder">
                    <img alt="image" src="images/hero6.jpg">
                </div>
            </div>
            <div class="col-md-6 col-sm-7 bg--white text-center">
                <div class="pos-vertical-center">
                    <h2>
                        Wrongful Death
                    </h2>
                    <p class="lead">
                        Blurb &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </p>
                    <div class="modal-instance">
                            <a class="btn modal-trigger" href="#">
                                <span class="btn__text">
                                    Request a Consultation
                                </span>
                            </a>
                            <div class="modal-container" data-modal-id="contact-form">
                                <div class="modal-content" data-width="80%" data-height="80%">
                                    <div class="pos-vertical-center clearfix">
                                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">            
                                            <div class="col-sm-12">
                                                <form action="/confirmation" method="POST">
                                                    <h4 class="text-center" id="modal">Reach us right here…</h4>
                                                    <div class="input-with-icon col-sm-12">
                                                        <i class="icon-MaleFemale"></i>
                                                        <input class="validate-required" type="text" name="name" placeholder="Your Name">
                                                    </div>
                                                    <div class="input-with-icon col-sm-6">
                                                        <i class="icon-Address-Book"></i>
                                                        <input class="validate-required validate-email" type="email" name="email" placeholder="Email Address">
                                                    </div>
                                                    <div class="input-with-icon col-sm-6">
                                                        <i class="icon-Phone-2"></i>
                                                        <input type="tel" name="telephone" placeholder="Phone Number">
                                                    </div>
                                                    <div class="input-with-icon col-sm-12">
                                                        <i class="icon-Mail"></i>
                                                        <input type="text" name="message" placeholder="Message" rows="8">
                                                        <!-- <input class="validate-required" name="message" placeholder="Your Message" rows="8"></textarea> -->
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button type="submit" class="btn btn--primary vpe">
                                                            Submit
                                                        </button>
                                                    </div>
                                                </form>     
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h5>Overview</h5>
                        <p>
                            According to <a href="http://injury.findlaw.com/torts-and-personal-injuries/wrongful-death-overview.html" target="_blank">FindLaw</a>, “when a person dies or is killed due to the negligence or misconduct of 
                            another, including murder, the surviving members of the victim’s family may sue for ‘wrongful death’.”   
                            If you are considering taking legal action for a wrongful death, contact us today. 
                        </p>
                        <h5>Why Us</h5>
                        <p>
                            The Bauman Law Firm has successfully handled _____ wrongful death cases. Our attorneys provide ____ from start to finish. 
                            We begin building our cases by ____. Why wrongful death take place:
                        </p>
                        <ul class="bullets">
                            <li>
                                Criminal Acts
                            </li>
                            <li>
                                Work Related Accidents
                            </li>
                            <li>
                                Products Liability
                            </li>
                            <li>
                                Medical Mapractice
                            </li>
                            <li>
                                Bicycle Accidents
                            </li>
                            <li>
                                Truck Accidents
                            </li>
                            <li>
                                Automobile Accidents
                            </li>
                        </ul>
                        <h5>Next Steps</h5>
                        <p>
                            You may be entitled to financial compensation, and we're willing to 
                            fight with you from beginning to end.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

<%- include('./../footer') %>