    </div>
    
    <footer class="footer">
        <div class="tile is-ancestor">
            <div class="tile is-vertical is-6">
                <div class="tile">
                    <div class="tile is-parent is-vertical">
                        <article class="tile is-child notification is-primary">
                            <p class="title">
                                Contact
                            </p>
                            <p class="subtitle">
                                <ul>
                                    <li>
                                        <p>Phone: 818-285-0222 </p>
                                    </li>
                                    <li>
                                        <p>Fax: 818-285-0224</p>
                                    </li>
                                    <li>
                                        <p>Address: 16255 Ventura Blvd Suite 450 Encino, CA 91436</p>
                                    </li>
                                    <li>
                                        <p>Hours: 8:00AM – 5:00PM M-F, By Appointment: Sa-Su</p>
                                    </li>
                                </ul>
                            </p>
                        </article>
                    </div>
                    <div class="tile is-parent">
                        <article class="tile is-child notification is-info">
                            <p class="title">Media</p>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>