<%- include('./../header') %>
		
    <div class="main-container">
        <section class="bg--white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="member member-1">
                            <img alt="pic" src="./../../images/avatar-team-6.jpg">
                            <h6>Attorney</h6>
                            <h5>AO</h5>
                            <p>
                                Blurb
                            </p>
                        </div>
                        
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="member member-1">
                            <img alt="pic" src="./../../images/avatar-team-3.jpg">
                            <h6>Attorney</h6>
                            <h5>John Doe</h5>
                            <p>
                                Blurb
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

<%- include('./../footer') %>